services:
    app:
        build:
            context: .
            dockerfile: docker/Dockerfile
            args:
                WWWGROUP: '${WWWGROUP:-1000}'
        image: svelte-inertia-laravel
        container_name: app
        ports:
            - '${APP_PORT:-8000}:80'
        environment:
            WWWUSER: '${WWWUSER:-1000}'
        volumes:
            - '.:/var/www/html'
        networks:
            - net
        depends_on:
            - mailpit

    mailpit:
        image: axllent/mailpit
        container_name: ${MAIL_HOST:-mailpit}
        restart: unless-stopped
        ports:
            - '${MAILPIT_UI_PORT:-8025}:8025'
            - '${MAILPIT_SMTP_PORT:-1025}:1025'
        networks:
            - net

networks:
    net:
